// Color Classes and Themes

@each $color, $value in $colors {
  .color-#{$color} {
    fill: $value;
    color: $value;
  }
  .background-#{$color} {
    background-color: $value;
  }
}

// Light/Dark Theme
@mixin colorTheme($text, $hover, $background, $textureFile) {
  .site-header {
    .site-title {
      a {
        #logo {
          .text {
            fill: color($text);
          }
        }
      }
    }
  }

  .nav-toggle {
    svg {
      fill: color($text);
    }
  }

  .site-nav {
    @include media-md {
      li.-current {
        a {
          color: color($hover);
        }
      }
      a {
        color: color($text);
        &::after {
          background-color: color($hover);
        }
        &:hover,
        &:focus {
          color: color($hover);
          &::after {
            background-color: color($hover);
          }
        }
      }
    }
  }

  .page-header {
    background-image: url($textureFile);
    background-size: 195px 195px;
    background-color: color($background);
  }
}