// Mixins

// Underline
@mixin underline($color) {
  padding-bottom: 2px;
  background-image: linear-gradient(to top, rgba(color($color),1) 1px, rgba(0,0,0,0) 2px);
}

// Image Treatment
@mixin imageTreatment() {
  display: block;
  position: relative;
  &::before,
  &::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
  }
  &::before {
    mix-blend-mode: multiply;
    background-color: color('cream');
  }
  &::after {
    mix-blend-mode: screen;
    background-color: rgba(color('hemlock'),0.3);
  }
}

// Ye olde clearfix
@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

// Smooth text
@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Responsive mixins by Andy Richardson (@andimal): https://github.com/andimal/sass-responsive-mixin-madness
@mixin media-xs() {
  @media screen and (max-width: $breakpoint-sm - 1) {
    @content;
  }
}
@mixin media-sm() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin media-md() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin media-lg() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin media-nav() {
  @media screen and (min-width: $breakpoint-nav) {
    @content;
  }
}
@mixin media-xl() {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

// On-the fly media-queries
@mixin screen($res-min, $res-max) {
  @media screen and (min-width: $res-min) and (max-width: $res-max) {
    @content;
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res - 1px) {
    @content;
  }
}
@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

// Decorative Lines
@mixin line($position, $height: 80px, $color: 'tan') {
  @include media-md {
    position: relative;

    @if $position == 'before' {
      &::before {
        top: 0;
        left: 50%;
        width: 1px;
        content: '';
        height: $height;
        position: absolute;
        transform: translateX(-50%);
        background-color: color($color);
      }
    }

    @if $position == 'after' {
      &::after {
        bottom: 0;
        left: 50%;
        width: 1px;
        content: '';
        height: $height;
        position: absolute;
        transform: translateX(-50%);
        background-color: color($color);
      }
    }
  }
}

// Headline
@mixin headline() {
  &::after {
    width: 72px;
    height: 1px;
    content: '';
    display: block;
    position: relative;
    margin: 32px 0 32px;
    background-color: color('tan');

    @include media-md {
      margin-bottom: 24px;
    }
  }
}