// Typography

// @font-face
@font-face {
  font-family: 'Riviera Nights';
  src: url('../fonts/RivieraNights-Regular-WebS.eot');
  src: url('../fonts/RivieraNights-Regular-WebS.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RivieraNights-Regular-WebS.woff2') format('woff2'),
       url('../fonts/RivieraNights-Regular-WebS.woff') format('woff');
  font-weight: 500;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Riviera Nights';
  src: url('../fonts/RivieraNights-Light-WebS.eot');
  src: url('../fonts/RivieraNights-Light-WebS.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RivieraNights-Light-WebS.woff2') format('woff2'),
       url('../fonts/RivieraNights-Light-WebS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutra 2';
  src: url('../fonts/Neutra2TextTT-Demi.woff2') format('woff2'),
       url('../fonts/Neutra2TextTT-Demi.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Font-family mixins
/// example:
/// @mixin font-display {
///   font-style: normal;
///   font-weight: normal;
///   font-family: 'Custom Font Family';
/// }
@mixin font-primary {
  font-weight: normal;
  font-family: 'Riviera Nights', serif;
}
@mixin font-secondary {
  font-weight: normal;
  font-family: 'Neutra 2', sans-serif;
}

/// Mixin to allow us to concisely define all aspects of a paragraph style (except for family.)
/// @param {number} $size - Font size specified in pixels (without 'px')
/// @param {number} $lh - Line height specified in pixels (without 'px')
/// @param {number} $ls [0em] - Letter spacing
/// @param {number or string} $w [normal] - Font weight
/// @param {string} $tt [none] - Text transform
/// @example scss - Used as a shortcut in defining a paragraph style...
///   @mixin h1 {
///     @include font-display; // The font face
///     @include paragraph-style (12, 16, $ls: .075em, $tt: uppercase); // Other properties
///   }
@mixin paragraph-style ($size, $lh, $ls: 0em, $w: normal, $tt: none) {
  font-size: #{$size}px;
  line-height: ($lh / $size);
  letter-spacing: $ls;
  text-transform: $tt;
  font-weight: $w;
}

// Type Style Mixins + Classes
/// example:
/// @mixin h1 {
///   @include font-display;
///   @include paragraph-style(31, 40, -.010322581em);
///   @include media-md {
///     @include paragraph-style(96, 96, -.005208333em);
///   }
/// }
/// .h1 {
///   @include h1;
/// }

@mixin h2 {
  @include paragraph-style(60, 64, -0.025em)
}

@mixin h1 {
  @include h2;

  @include media-md {
    @include paragraph-style(96, 96, -0.025em);
  }
}

@mixin h3 {
  @include paragraph-style(40, 48, -0.025em);
}

@mixin h3-caps {
  @include paragraph-style(33, 40, 0.115em, 400, uppercase);

  @include media-md {
    @include paragraph-style(40, 48, 0.115em, 400, uppercase);
  }
}

@mixin h4 {
  @include font-secondary;
  @include paragraph-style(15, 20, 0.115em, normal, uppercase);
}

@mixin p1 {
  @include paragraph-style(20, 24);
  -webkit-font-smoothing: antialiased;

  @include media-md {
    @include paragraph-style(28, 32, -0.005em);
  }
}

@mixin p2 {
  @include paragraph-style(18, 28, 0.015em, 500);
}

@mixin p3 {
  @include paragraph-style(15, 20, 0.02em, 500);
}

@mixin caption {
  @include font-secondary;
  @include paragraph-style(12, 16, 0.115em);
}