// Variables

// Colors
$colors: (
  'white': #ffffff,
  'cream': #EFEAE5,
  'black': #191615,
  'rose': #9A3323,
  'hemlock': #2C4233,
  'deep-pine': #1E311C,
  'lichen': #9BA592,
  'tan': #CEC0B2,
  'tan-alt': #cdbfb2,
  'teak': #7A5D49
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Site Header Height
$header-sm: 82px;
$header-md: 114px;

// Breakpoints
$breakpoint-sm: 520px;
$breakpoint-md: 768px;
$breakpoint-nav: 905px;
$breakpoint-lg: 1152px;
$breakpoint-xl: 1220px;
$breakpoint-xxl: 1700px;

// Site Wrapper
$sitewrapper: 1440px;

// Padding/spacing
$beat: 10px;
$padding-sm: 18px;
$padding-md: 24px;
$padding-lg: 144px;