{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  <div class="page-header">
    {% if entry.bannerImage|length %}
      {% set transformedImage = craft.imager.transformImage(entry.bannerImage.one(),
        {
          width: 2200,
          ratio: 2/1,
          jpegQuality: 80,
        }
      ) %}
      <div class="image-banner"><div class="background" style="background-image:url('{{ transformedImage.getUrl() }}');"></div></div>
    {% endif %}
    <div class="banner-headline sitewrapper">
      <div class="grid spaced spaced-xl">
        <h2 class="page-headline col-md-1-2">{{ entry.pageHeadline|length ? entry.pageHeadline|nl2br : entry.title }}</h2>

        {% if entry.pageSubHeadline %}
          <p class="page-subheadline col-md-1-2">{{ entry.pageSubHeadline }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="team-section">
    <div class="sitewrapper">
      <div class="card-grid">
        <div class="grid spaced">
          {% for teamMember in craft.entries.section('teamMembers').all() %}
            <div class="col-md-1-2 -reveal">
              {% include "partials/_team-member-listing.html" %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="page-break">
    <div class="image-break">
      <div class="texture" style="background-image:url('{{ url('/assets/dist/images/map-1_square.jpg') }}');"></div>
      <div class="image-background" style="background-image:url('{{ url('/assets/dist/images/about-page-break.jpg') }}');"></div>
    </div>
  </div>

  {% if entry.philanthropyParagraph|length %}
    <div class="philanthropy-section section">
      <div class="sitewrapper">
        <h3 class="-reveal">Driven to Give.</h3>
        <div class="grid spaced">
          <div class="philanthropy-text col-md-1-2">
            <p>{{ entry.philanthropyParagraph }}</p>
          </div>
          {% if entry.philanthropyImage|length %}
            {% set transformedImage = craft.imager.transformImage(entry.philanthropyImage.one(),
              {
                width: 1116,
                jpegQuality: 80,
              }
            ) %}
            <div class="col-md-1-2">
              <figure class="philanthropy-image">
                <img src="{{ transformedImage.getUrl() }}" alt="{{ entry.philanthropyImage.one().title }}">
                {% if entry.philanthropyImage.one().caption|length %}
                  <figcaption>
                    <p>{{ entry.philanthropyImage.one().caption }}</p>
                  </figcaption>
                {% endif %}
              </figure>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% include "partials/_page-nav.html" %}
{% endblock %}