<div class="property card{{ class is defined ? ' ' ~ class : '' }}">
  <a href="{{ property.url }}">
    <div class="treated-image">
      <div class="overlay">
        <div class="-inner">
          <p>View</p>
          <p>Magna Fringilla Malesuada Parturient</p>
        </div>
      </div>
      <img src="{{ property.listingImage.one().getUrl(orientation) }}" alt="{{ property.title }}">
    </div>
    <h3 class="card-title"><span>{{ property.title }}</span> <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></h3>
  </a>
</div>