{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'single-team-member' %}
{% set bioImage = craft.imager.transformImage(entry.teamPhoto.one(),
  {
    width: 1200,
    ratio: 5/7,
    jpegQuality: 80,
  }
) %}
{% set seoImage = craft.imager.transformImage(entry.teamPhoto.one(), { width: 1200, height: 627, mode: 'crop' }) %}
{% if entry.bioHeadline|length %}
  {% set seoDescription = entry.bioHeadline %}
{% endif %}

{% block content %}
  <div class="page-header">
    <div class="banner-top">
      <div class="sitewrapper grid">
        <div class="col-md-1-2">
          <h2 class="page-headline">{{ entry.title }}</h2>
          <p class="position">{{ entry.position }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bio-section section">
    <div class="sitewrapper">
      <div class="grid spaced spaced-xl">

        <div class="col-md-1-2 md-order-1">
          <div class="bio-image -reveal">
            <img src="{{ bioImage.getUrl() }}" alt="{{ entry.teamPhoto.one().title }}">
          </div>

          <div class="bio-contact">
            {% if entry.teamEmail|length %}
              <div>
                <p class="label">Email</p>
                <p><a href="mailto:{{ entry.teamEmail }}" target="_blank">{{ entry.teamEmail }}</a></p>
              </div>
            {% endif %}

            {% if entry.teamPhoneNumber|length %}
              <div>
                <p class="label">Phone</p>
                <p>{{ entry.teamPhoneNumber|replace({'+1 ': '', '-': '.'}) }}</p>
              </div>
            {% endif %}

            {% if entry.teamSocialLinks|length %}
              <div>
                <p class="label">Social</p>
                <ul>
                  {% for link in entry.teamSocialLinks.all() %}
                    <li><a href="{{ link.linkUrl }}" target="_blank" rel="noopener">{{ link.linkLabel }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if entry.vcard|length %}
              <p class="vcard"><a href="{{ entry.vcard.one().getUrl() }}" target="_blank" class="button -hollow">Download vCard <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-download"/></svg></a></p>
            {% endif %}
          </div>
        </div>

        <div class="bio col-md-1-2 md-order-0">
          {{ entry.teamBio }}
        </div>

      </div>
    </div>
  </div>

  {% include "partials/_entry-nav.html"  with {'section': 'teamMembers'} %}
{% endblock %}