{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  <div class="page-header">
    {% if entry.bannerImage|length %}
      {% set transformedImage = craft.imager.transformImage(entry.bannerImage.one(),
        {
          width: 1440,
          ratio: 8/3,
          jpegQuality: 80,
        }
      ) %}
      <div class="image-banner"><div class="background" style="background-image:url('{{ transformedImage.getUrl() }}');"></div></div>
    {% endif %}
    <div class="banner-headline sitewrapper">
      <div class="grid spaced spaced-xl">
        <h2 class="page-headline col-md-1-2">{{ entry.pageHeadline|length ? entry.pageHeadline|nl2br : entry.title }}</h2>

        {% if entry.pageSubHeadline %}
          <p class="page-subheadline col-md-1-2">{{ entry.pageSubHeadline }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="intro-section sitewrapper">
    <div class="tagline">
      <p><span class="-reveal">Work.</span><br> <span class="-reveal">Life.</span><br> <span class="-reveal">Balanced.</span></p>
    </div>
  </div>

  {% if entry.whatWeDo|length or entry.howWereDifferent|length %}
    <div class="approach-section section sitewrapper">
      <div class="grid spaced spaced-xl">
        {% if entry.whatWeDo|length %}
          <div class="col-md-1-2">
            <h3>What We Do</h3>
            {{ entry.whatWeDo }}
          </div>
        {% endif %}
        {% if entry.howWereDifferent|length %}
          <div class="col-md-1-2">
            <h3>How We're Different</h3>
            {{ entry.howWereDifferent }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% set methods = entry.madroseMethod.all() %}
  {% if methods|length %}
    <div class="method-section section">
      <div class="sitewrapper">
        <h3 class="section-title">The Madrose Method</h3>
        <ol class="method-list">
          {% for method in methods %}
            <li class="method grid spaced spaced-lg -reveal">
              <h4 class="label col-md-1-2"><span class="number">{{ loop.index }}</span> <span class="text">{{ method.methodLabel }}</span></h4>
              <p class="col-md-1-2">{{ method.methodDescription }}</p>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  {% endif %}

  {% include "partials/_page-nav.html" %}
{% endblock %}