{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'single-property' %}
{% set bodyID = 'single-property' %}

{% block content %}
<div class="page-header">
  <div class="banner-top">
    <div class="sitewrapper grid">
      <h2 class="page-headline col-md-1-2">{{ entry.title }}</h2>
      {% if entry.floorplan|length or entry.brochure|length %}
        <div class="downloads">
          <h3>Download:</h3>
          <ul>
          {% if entry.floorplan|length %}
            <li><a href="{{ entry.floorplan.one().getUrl() }}">Floorplans <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-download"/></svg></a></li>
          {% endif %}
          {% if entry.brochure|length %}
            <li><a href="{{ entry.brochure.one().getUrl() }}">Brochure <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-download"/></svg></a></li>
          {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>

  {% if entry.propertyBannerImage|length %}
    <div class="banner-bottom" style="background-image:url('{{ entry.propertyBannerImage.one().getUrl() }}');"></div>
  {% endif %}
</div>

<div class="page-body">
{% if entry.propertyIntroHeadline|length or entry.propertyIntroText|length or entry.propertyInfo|length or entry.propertySpecs|length %}
  <div class="intro section sitewrapper">
  {% if entry.propertyIntroHeadline|length %}
    <h3>{{ entry.propertyIntroHeadline }}</h3>
  {% endif %}
    <div class="grid spaced spaced-lg">
    {% if entry.propertyIntroText|length %}
      <div class="intro-text col-md-1-2">
      {% if entry.propertyIntroText|length %}
        <p>{{ entry.propertyIntroText }}</p>
      {% endif %}
      </div>
      {% endif %}
      {% if entry.propertyInfo|length or entry.propertySpecs|length %}
      <div class="property-info col-md-1-2">
        <div class="grid spaced">
        {% if entry.propertyInfo|length %}
          <ul class="info-list col-md-1-2">
          {% for info in entry.propertyInfo.all() %}
            <li>
              <span class="label">{{ info.label }}</span>
              <span class="info">{{ info.text }}</span>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        {% if entry.propertySpecs|length %}
          <ul class="spec-list col-md-1-2">
          {% for spec in entry.propertySpecs.all() %}
            <li>
              <span class="label">{{ spec.label }}</span>
              <span class="info">{{ spec.text }}</span>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}

{% if entry.propertyMedia|length %}
  <div class="property-media section sitewrapper">
    <div class="grid spaced">
    {% for item in entry.propertyMedia.all() %}
      <figure class="media-item {{ item.type }}{{ item.type == 'image' ? ' col-md-1-2' : '' }}">
        <div class="-inner">
        {% if item.type == 'image' %}
          {% set transformedImage = craft.imager.transformImage(item.image.one(),
            {
              width: 1116,
              jpegQuality: 80,
              effects: {
                clut: 'gradient:rgba(44,66,51,0.3)-rgba(239,234,229,1)',
              }
            }
          ) %}
          <img src="{{ transformedImage.getUrl() }}" alt="">
          {% if item.image.one().title or item.image.one().caption %}
          <figcaption>
          {% if item.image.one().title %}
            <p class="fig-title">{{ item.image.one().title }}</p>
          {% endif %}
          {% if item.image.one().caption %}
            <p class="fig-caption">{{ item.image.one().caption }}</p>
          {% endif %}
          </figcaption>
          {% endif %}
        {% else %}
          {% set embeddedAsset = craft.embeddedAssets.get(item.video.one()) %}
          {% if embeddedAsset.url matches '/vimeo\.com/' %}
            {% if 'https://i.vimeocdn.com/filter/overlay?src0=' in embeddedAsset.image %}
              {% set videoImageUrl = embeddedAsset.image|replace({'https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F': 'https://i.vimeocdn.com/video/', '&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png': '' }) %}
            {% else %}
              {% set videoImageUrl = embeddedAsset.image %}
            {% endif %}
            {% set transformedImage = craft.imager.transformImage(videoImageUrl,
              {
                width: 2304,
                jpegQuality: 80,
                effects: {
                  clut: 'gradient:rgba(44,66,51,0.6)-rgba(239,234,229,1)',
                }
              }
            ) %}
            <div class="property-video-container" style="padding-bottom:{{ embeddedAsset.aspectRatio  }}%;">
              <div class="video-thumb" style="background-image: url('{{ videoImageUrl }}');">
                <button class="property-video-play"><svg class="video-play" aria-hidden="true" role="presentation"><use xlink:href="#icon-play"/></svg></button>
              </div>
              <div id="video-{{ embeddedAsset.getVideoId() }}" class="property-video" data-url="{{ embeddedAsset.url }}"></div>
            </div>
            {% if item.video.one().title or item.video.one().caption %}
            <figcaption>
            {% if item.video.one().title %}
              <p class="fig-title">{{ item.video.one().title }}</p>
            {% endif %}
            {% if item.video.one().caption %}
              <p class="fig-caption">{{ item.video.one().caption }}</p>
            {% endif %}
            </figcaption>
            {% endif %}
          {% endif %}
        {% endif %}
        </div>
      </figure>
    {% endfor %}

    {% if entry.propertyCta|length %}
      <div class="property-cta col-md-1-2">
        <p>{{ entry.propertyCta }}</p>
      {% if siteSettings.siteContactEmailAddress %}
        <p class="cta"><a href="mailto:{{ siteSettings.siteContactEmailAddress }}?subject=Interest in {{ entry.title }}" class="button -hollow">Interested in this Property? <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
      {% endif %}
      </div>
    {% endif %}

    </div>
  </div>
{% endif %}

{% include "partials/_property-nav.html" %}
</div>
{% endblock %}