{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'page-single-property' %}
{% set seoImage = craft.imager.transformImage(entry.propertyBannerImage.one(), { width: 1200, height: 627, mode: 'crop' }) %}
{% if entry.propertyIntroHeadline|length %}
  {% set seoDescription = entry.propertyIntroHeadline %}
{% endif %}

{% block content %}
  <div class="page-header">
    <div class="banner-top">
      <div class="sitewrapper grid">
        <h2 class="page-headline col-xl-1-2">{{ entry.title }}</h2>
        {% if entry.floorplan|length or entry.brochure|length %}
          <div class="downloads col-xl-1-2">
            <h3>Download:</h3>
            <ul>
            {% if entry.floorplan|length %}
              <li><a href="{{ entry.floorplan.one().getUrl() }}" data-no-swup><span>Building<br> Floorplan</span><svg aria-hidden="true" role="presentation"><use xlink:href="#icon-download"/></svg></a></li>
            {% endif %}
            {% if entry.brochure|length %}
              <li><a href="{{ entry.brochure.one().getUrl() }}" data-no-swup><span>Brochure</span><svg aria-hidden="true" role="presentation"><use xlink:href="#icon-download"/></svg></a></li>
            {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>

    {% if entry.propertyBannerImage|length %}
      <div class="bottom-banner" style="background-image:url('{{ entry.propertyBannerImage.one().getUrl() }}');"></div>
    {% endif %}
  </div>

  <div class="page-body">
    {% if entry.propertyIntroHeadline|length or entry.propertyIntroText|length or entry.propertyInfo|length or entry.propertySpecs|length %}
      <div class="intro section sitewrapper">
      {% if entry.propertyIntroHeadline|length %}
        <h3>{{ entry.propertyIntroHeadline }}</h3>
      {% endif %}
        <div class="grid spaced spaced-lg">
        {% if entry.propertyIntroText|length %}
          <div class="intro-text col-md-1-2">
          {% if entry.propertyIntroText|length %}
            <p>{{ entry.propertyIntroText }}</p>
          {% endif %}
          </div>
        {% endif %}
        {% if entry.propertyInfo|length or entry.propertySpecs|length %}
          <div class="property-info col-md-1-2{{ entry.propertySpecs|length > 1 ? ' multiple-properties' : '' }}">
            <div class="grid spaced">
              {% if entry.propertySpecs|length > 1 %}
                {% for property in entry.propertySpecs.all() %}
                  <div class="property-specs col-md-1-2">
                    <h4 class="property-label">{{ property.propertyLabel }}</h4>
                    {% if property.propertySpecs|length %}
                      <ul class="spec-list">
                        {% for spec in property.propertySpecs %}
                          <li>
                            <span class="label">{{ spec.label }}</span>
                            <span class="info">{{ spec.details }}</span>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                {% endfor %}
                {% if entry.propertyInfo|length %}
                  <ul class="info-list">
                  {% for info in entry.propertyInfo.all() %}
                    <li>
                      <span class="label">{{ info.label }}</span>
                      <span class="info">{{ info.text }}</span>
                    </li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% else %}
                {% if entry.propertyInfo|length %}
                  <ul class="info-list col-md-1-2">
                  {% for info in entry.propertyInfo.all() %}
                    <li>
                      <span class="label">{{ info.label }}</span>
                      <span class="info">{{ info.text }}</span>
                    </li>
                  {% endfor %}
                  </ul>
                {% endif %}
                {% if entry.propertySpecs|length %}
                  <ul class="spec-list col-md-1-2">
                  {% for spec in entry.propertySpecs.one().propertySpecs %}
                    <li>
                      <span class="label">{{ spec.label }}</span>
                      <span class="info">{{ spec.details }}</span>
                    </li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    {% endif %}

    {% if entry.propertyMedia|length %}
      <div class="property-media section sitewrapper">
        <div class="grid spaced">
        {% for item in entry.propertyMedia.all() %}
          {% if entry.propertyCta|length and loop.index == entry.propertyMedia.all()|length  %}
            <div class="property-cta col-md-1-2">
              <p>{{ entry.propertyCta }}</p>
            {% if siteSettings.siteContactEmailAddress %}
              <p class="cta"><a href="mailto:{{ siteSettings.siteContactEmailAddress }}?subject=Interest in {{ entry.title }}" class="button -hollow">Interested in this Property? <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
            {% endif %}
            </div>
            <figure class="media-item {{ item.type }}{{ item.type == 'image' ? ' col-md-1-2' : '' }}">
              <div class="-inner">
              {% if item.type == 'image' %}
                <span class="treated-image"><img src="{{ item.image.one().getUrl('propertyMediaHalf') }}" alt="{{ item.image.one().title }}"></span>
                {% if item.image.one().title or item.image.one().caption %}
                <figcaption>
                {% if item.image.one().title %}
                  <p class="fig-title">{{ item.image.one().title }}</p>
                {% endif %}
                {% if item.image.one().caption %}
                  <p class="fig-caption">{{ item.image.one().caption }}</p>
                {% endif %}
                </figcaption>
                {% endif %}
              {% else %}
                {% set embeddedAsset = craft.embeddedAssets.get(item.video.one()) %}
                {% if embeddedAsset.url matches '/vimeo\.com/' %}
                  {% if 'https://i.vimeocdn.com/filter/overlay?src0=' in embeddedAsset.image %}
                    {% set videoImageUrl = embeddedAsset.image|replace({'https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F': 'https://i.vimeocdn.com/video/', '&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png': '' }) %}
                  {% else %}
                    {% set videoImageUrl = embeddedAsset.image %}
                  {% endif %}
                  {% set transformedImage = craft.imager.transformImage(videoImageUrl,
                    {
                      width: 2304,
                      jpegQuality: 80,
                    }
                  ) %}
                  <div class="property-video-container" style="padding-bottom:{{ embeddedAsset.aspectRatio  }}%;">
                    <div class="video-thumb treated-image" style="background-image: url('{{ videoImageUrl }}');">
                      <button class="property-video-play"><svg width="97" height="97" viewBox="0 0 97 97" xmlns="http://www.w3.org/2000/svg"><path class="play-triangle" fill-rule="evenodd" clip-rule="evenodd" d="M23.823 17.0486L82.2634 48.3002L23.823 79.5517V17.0486ZM25.323 19.5517V77.0486L79.0826 48.3002L25.323 19.5517Z"/><path class="play-background" d="M0.623047 0.183105V-1.31689H-0.876953V0.183105H0.623047ZM96.623 0.183105H98.123V-1.31689H96.623V0.183105ZM96.623 96.1831V97.6831H98.123V96.1831H96.623ZM0.623047 96.1831H-0.876953V97.6831H0.623047V96.1831ZM0.623047 1.68311H96.623V-1.31689H0.623047V1.68311ZM95.123 0.183105V96.1831H98.123V0.183105H95.123ZM96.623 94.6831H0.623047V97.6831H96.623V94.6831ZM2.12305 96.1831V0.183105H-0.876953V96.1831H2.12305Z"/></svg></button>
                    </div>
                    <div id="video-{{ embeddedAsset.getVideoId() }}" class="property-video" data-url="{{ embeddedAsset.url }}"></div>
                  </div>
                  {% if item.video.one().title or item.video.one().caption %}
                  <figcaption>
                  {% if item.video.one().title %}
                    <p class="fig-title">{{ item.video.one().title }}</p>
                  {% endif %}
                  {% if item.video.one().caption %}
                    <p class="fig-caption">{{ item.video.one().caption }}</p>
                  {% endif %}
                  </figcaption>
                  {% endif %}
                {% endif %}
              {% endif %}
              </div>
            </figure>
          {% else %}
            <figure class="media-item {{ item.type }}{{ item.type == 'image' and item.size == 'halfWidth' ? ' col-md-1-2' : ' col-full' }}">
              <div class="-inner">
              {% if item.type == 'image' %}
                {% if item.size == 'halfWidth' %}
                  <span class="treated-image"><img src="{{ item.image.one().getUrl('propertyMediaHalf') }}" alt="{{ item.image.one().title }}"></span>
                {% else %}
                  <span class="treated-image"><img src="{{ item.image.one().getUrl('propertyMediaFull') }}" alt="{{ item.image.one().title }}"></span>
                {% endif %}
                {% if item.image.one().title or item.image.one().caption %}
                <figcaption>
                {% if item.image.one().title %}
                  <p class="fig-title">{{ item.image.one().title }}</p>
                {% endif %}
                {% if item.image.one().caption %}
                  <p class="fig-caption">{{ item.image.one().caption }}</p>
                {% endif %}
                </figcaption>
                {% endif %}
              {% else %}
                {% set embeddedAsset = craft.embeddedAssets.get(item.video.one()) %}
                {% if embeddedAsset.url matches '/vimeo\.com/' %}
                  {% if 'https://i.vimeocdn.com/filter/overlay?src0=' in embeddedAsset.image %}
                    {% set videoImageUrl = embeddedAsset.image|replace({'https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F': 'https://i.vimeocdn.com/video/', '&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png': '' }) %}
                  {% else %}
                    {% set videoImageUrl = embeddedAsset.image %}
                  {% endif %}
                  {% set transformedImage = craft.imager.transformImage(videoImageUrl,
                    {
                      width: 2304,
                      jpegQuality: 80,
                    }
                  ) %}
                  <div class="property-video-container" style="padding-bottom:{{ embeddedAsset.aspectRatio  }}%;">
                    <div class="video-thumb" style="background-image: url('{{ videoImageUrl }}');">
                      <button class="property-video-play"><svg class="icon-play-hollow" aria-hidden="true" role="presentation"><use xlink:href="#icon-play-hollow"/></svg><svg class="icon-play-fill" aria-hidden="true" role="presentation"><use xlink:href="#icon-play-fill"/></svg></button>
                    </div>
                    <div id="video-{{ embeddedAsset.getVideoId() }}" class="property-video" data-url="{{ embeddedAsset.url }}"></div>
                  </div>
                  {% if item.video.one().title or item.video.one().caption %}
                  <figcaption>
                  {% if item.video.one().title %}
                    <p class="fig-title">{{ item.video.one().title }}</p>
                  {% endif %}
                  {% if item.video.one().caption %}
                    <p class="fig-caption">{{ item.video.one().caption }}</p>
                  {% endif %}
                  </figcaption>
                  {% endif %}
                {% endif %}
              {% endif %}
              </div>
            </figure>
          {% endif %}
        {% endfor %}

        </div>
      </div>
    {% endif %}

    {% include "partials/_entry-nav.html"  with {'section': 'properties'} %}

  </div>
{% endblock %}