{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set properties = craft.entries.section('properties').all() %}

{% block content %}
  <div class="page-header">
    <div class="banner-top">
      <div class="sitewrapper">
        {% if entry.pageHeadline %}
          <h2 class="page-headline">{{ entry.pageHeadline|nl2br }}</h2>
        {% endif %}

        {% if entry.pageSubHeadline %}
          <div class="banner-text">
            <p>{{ entry.pageSubHeadline }}</p>
          </div>
        {% endif %}
      </div>
    </div>

  </div>

  <div class="portfolio-section sitewrapper">
    <div class="card-grid">
      <div class="property-grid">
        {% if properties|length %}
          {% for property in properties %}
            {% set image = property.listingImage.one() %}
            {% set imageW = image.width %}
            {% set imageH = image.height %}
            {% if imageH > imageW %}
              {% if loop.index == 1 %}
                {% set class = 'portrait-large -reveal' %}
                {% set orientation = 'propertyListingPortrait' %}
              {% else %}
                {% set class = 'portrait-small -reveal' %}
                {% set orientation = 'propertyListingPortraitSmall' %}
              {% endif %}
            {% else %}
              {% set class = 'landscape -reveal' %}
              {% set orientation = 'propertyListingLandscape' %}
            {% endif %}

            {% include 'partials/_property-listing.html' with {'property': property, 'orientation': orientation, 'class': class} %}
          {% endfor %}
        {% endif %}

        {% if entry.portfolioStatement|length %}
          <div class="portfolio-statement">
            <p class="-reveal">{{ entry.portfolioStatement }}</p>
            {% if siteSettings.siteContactEmailAddress %}
              <p class="cta -reveal"><a href="mailto:{{ siteSettings.siteContactEmailAddress }}?subject=Interest in a Property" class="button -hollow">Interested in a Property? <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% include "partials/_page-nav.html" %}
{% endblock %}