/*

    _/_/_/_/  _/_/_/
   _/        _/    _/
  _/_/_/    _/_/_/
 _/        _/    _/
_/        _/_/_/

*/

//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include font-primary;
  @include p1;
  color: color('black');
	background: color('cream');
}

// Overlay
.page-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.25);
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  padding: 0 $padding-sm;
  // Removing the max width to allow better flow
  // for super large screens
  // max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-md;
  }
  @include media-lg {
    padding: 0 $padding-lg;
  }
}

// Page Transitions
.transition-fade {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
html.is-animating .transition-fade {
  opacity: 0;
}
