// Common

// Treated Images
.treated-image {
  @include imageTreatment;
}

// Image/Element reveals
.-reveal:not(.-in-sequence),
.-reveal-item {
  opacity: 0;
  &:not(.-instant) {
    transform: translate3d(0, 40px, 0);
    transition: opacity 1s ease-out, transform 0.5s ease-out;
  }
  @include media-md {
    transform: translate3d(0, 60px, 0);
  }

  &.-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
// In-sequence reveals
.-reveal.-in-sequence {
  &.-active {
    .-reveal-item {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
// prefers reduced motion
@media (prefers-reduced-motion: reduce) {
  .-reveal {
    &, &:not(.-instant), &.-active {
      opacity: 1;
      transform: none;
    }
  }
}