// Page Header

.page-header {
  padding-top: $header-sm;

  @include media-md {
    padding-top: $header-md;
  }

  .banner-headline {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    background-color: color('cream');

    .page-headline {
      max-width: 800px;
    }

    @include media-md {
      padding-top: 72px;
      padding-bottom: 72px;
    }

    @include media-xl {
      @include line(before, 100%);
    }
  }

  .page-headline {
    @include h2;
    margin: 0;

    + .banner-text {
      margin-top: 52px;
    }
  }

  .banner-top {
    padding: 24px 0;
    background-size: cover;
    background-position: center center;

    @include media-md {
      padding: 64px 0;
    }
  }

  .banner-text {
    p {
      @include p2;
      position: relative;
      &::before {
        left: 0;
        top: -32px;
        height: 1px;
        width: 72px;
        content: '';
        position: absolute;
      }
    }
  }

  .image-banner {
    width: 100%;
    position: relative;
    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      height: 50%;
      position: absolute;
      background-color: color('cream');
    }

    .background {
      @include imageTreatment;
      height: 0;
      z-index: 1;
      position: relative;
      padding-bottom: 50%;
      background-size: cover;
      background-position: center center;
    }

    @include media-sm {
      .background {
        width: calc(100% - #{$padding-md});
      }
    }

    @include media-lg {
      .background {
        width: calc(100% - #{$padding-lg});
      }
    }

    @include media-xl {
      .background {
        padding: 0;
        height: 648px;
      }
    }
  }
}
