// Podcast Section

.podcast-section {
  margin-bottom: 100px - $padding-sm;

  .podcast-art {
    margin-bottom: 22px;
  }

  .cta {
    margin: 56px 0 0;
    text-align: center;
  }
}

.podcast-container.grid.spaced.spaced-lg {
  @include media-md {
    width: calc(100% + #{$padding-sm * 3});
  }
  @include media-lg {
    width: calc(100% + #{$padding-lg});
  }
}

.podcast-episodes {
  margin: 0;

  .episode {
    .-inner {
      padding-top: 8px;
      border-top: 1px solid color('tan');
    }

    + .episode {
      margin-top: 40px;
    }

    .episode-meta {
      @include h4;
      margin: 0;
      display: flex;
      white-space: nowrap;
      margin-bottom: 16px;
      color: color('teak');
      justify-content: space-between;

      .episode-number {
        margin-right: $padding-sm;
      }

      .dash {
        bottom: 2px;
        width: 48px;
        height: 1px;
        margin: 0 7px;
        position: relative;
        display: inline-block;
        background-color: color('teak');
      }
    }

    .episode-title {
      @include p1;
      margin: 0 0 8px;

      a {
        text-decoration: underline;
        &:hover,
        &:focus {
          color: color('rose');
        }
      }
    }

    .episode-description {
      @include p2;
      margin: 0;
    }

    @include media-md {
      + .episode {
        margin-top: 0;
        border-left: 1px solid color('tan');
      }

      .episode-meta {
        .dash {
          width: 18px;
        }
      }

      .episode-title {
        margin-bottom: $padding-sm;
      }
    }

    @include media-lg {
      .episode-meta {
        .dash {
          width: 48px;
        }
      }
    }
  }
}