// UI Elements

// Buttons
.button {
  @extend .button-reset;
  @include p2;
  height: 72px;
  cursor: pointer;
  padding: 0 24px;
  line-height: 72px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: color('hemlock');
  background-color: color('white');
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
  @include media-md {
    padding: 0 32px;
  }

  svg {
    top: 50%;
    width: 17px;
    right: 22px;
    height: 12px;
    position: absolute;
    fill: color('rose');
    transform: translateY(-50%);
    transition: fill 0.25s ease-out, transform 0.25s ease-out;
  }

  &:hover,
  &:focus {
    color: color('cream');
    background-color: color('rose');

    svg {
      fill: color('cream');
      transform: translateX(7px) translateY(-50%);
    }
  }

  &.-hollow {
    text-align: left;
    position: relative;
    padding-right: 61px;
    color: color('rose');
    background-color: transparent;
    border: 1px solid color('rose');
    &:hover,
    &:focus {
      color: color('cream');
      background-color: color('rose');
    }
  }
}