// Approach Page

body[class^=page-approach] {
  @include darkTheme;

  .page-header {
    @include line(after, 120px);

    .banner-top {
      .page-subheadline {
        @include p1;
        position: relative;
        margin: $padding-md 0 0;
      }

      @include media-md {
        .grid {
          align-items: flex-end;
        }

        .page-subheadline {
          margin: 0;
          max-width: 525px;
          padding-bottom: 0;
        }

        .page-headline {
          font-size: 80px;
          line-height: 88px;
        }
      }
    }
  }

  .approach-section {
    padding-bottom: 82px;

    h3 {
      @include h4;
      color: color('teak');
      margin: $padding-sm 0 32px;
    }

    @include media-md {
      @include line(before, 100%);
      padding-bottom: 128px;
      margin-top: $padding-sm;
      &::before {
        top: 38px;
      }

      > .grid {
        position: relative;
        &::after {
          top: 0;
          height: 1px;
          content: '';
          position: absolute;
          left: $padding-lg / 2;
          right: $padding-lg / 2;
          border-top: 1px solid color('tan');
        }
      }
    }
  }

  .method-section {
    @include line(before, 100%);
    padding-bottom: 128px;
    &::before {
      top: 36px;
    }

    ol {
      padding: 0;
    }

    li {
      margin-top: 64px;

      h4 {
        text-align: center;
        margin: 0 0 $padding-sm;

        span {
          display: block;
        }
        .number {
          @include h1;
          margin-bottom: 16px;
          color: color('tan');
        }
        .text {
          @include h3;
          color: color('teak');
        }
      }

      p {
        @include p2;
        margin: 0;
      }
    }

    @include media-md {
      padding-bottom: 160px;

      li {
        h4 {
          display: flex;
          align-items: center;
        }
        .number {
          width: 144px;
          text-align: center;
        }
      }
    }

    @include media-lg {
      .grid.spaced-lg {
        margin-left: -$padding-lg / 2;
        width: calc(100% + #{$padding-lg});

        > .col-md-1-2 {
          padding: 0 #{$padding-lg / 2};
        }
      }
    }
  }
}
