// Approach Page

body[class^=page-approach] {
  @include darkTheme;

  .page-header {
    .image-banner .background {
      background-position: calc(50% + #{$padding-sm}) center;
      @include media-sm {
        background-position: calc(50% + #{$padding-md}) center;
      }
      @include media-lg {
        background-position: calc(50% + #{$padding-lg}) center;
      }
    }

    .banner-headline::before {
      display: none;
    }

    .banner-top {
      .page-subheadline {
        @include p1;
        position: relative;
        margin: $padding-md 0 0;
      }

      @include media-md {
        .grid {
          align-items: flex-end;
        }

        .page-subheadline {
          margin: 0;
          max-width: 525px;
          padding-bottom: 0;
        }
      }
    }
  }

  .approach-section {
    padding-bottom: $vertical-spacing-md;

    h3 {
      @include h4;
      padding-top: 6px;
      color: color('teak');
      border-top: 1px solid color('tan');
      margin: $padding-sm 0 $vertical-spacing-sm;
    }

    p {
      margin: 0;
    }

    > .-inner > .grid > div + div {
      margin-top: $vertical-spacing-sm;
    }

    @include media-md {
      padding-bottom: 56px;
      margin-top: $padding-sm;

      > .-inner {
        border-top: 1px solid color('tan');
      }

      h3 {
        border-top: none;
      }

      > .-inner > .grid > div + div {
        margin-top: 0;
      }
    }
  }

  .method-section {
    @include line(before, 100%);
    padding-bottom: $vertical-spacing-md;
    &::before {
      top: 36px;
    }

    ol {
      margin: 0;
      padding: 0;
    }

    li {
      margin-top: 48px;

      h4 {
        text-align: center;
        margin: 0 0 $padding-sm;

        span {
          display: block;
        }
        .number {
          @include h1;
          margin-bottom: 16px;
          color: color('tan');
        }
        .text {
          @include h3;
          color: color('teak');
        }
      }

      p {
        @include p2;
        margin: 0;
      }
    }

    @include media-md {
      li {
        h4 {
          display: flex;
          align-items: center;
        }
        .number {
          width: 144px;
          text-align: center;
        }
      }
    }

    @include media-lg {
      .grid.spaced-lg {
        margin-left: -$padding-lg / 2;
        width: calc(100% + #{$padding-lg});

        > .col-md-1-2 {
          padding: 0 #{$padding-lg / 2};
        }
      }
    }
  }
}
