// Error Page Styles

body.error-page {
  @include colorTheme('cream', 'lichen', 'hemlock', '../images/texture-green.jpg');

  .page-header {
    @include media-md {
      .banner-headline::before {
        display: none;
      }

      .image-banner {
        &::after {
          display: none;
        }
        .background {
          padding: 0;
          height: 328px;
        }
      }
    }
  }
}