// Error Page Styles

body.error-page {
  @include colorTheme('cream', 'lichen', 'hemlock', '../images/texture-green.jpg');

  .page-header {
    .banner-top {
      @include media-md {
        padding-bottom: 80px;
      }
    }

    .subhead {
      @include h4;
      @include eyebrowLine('cream');
      margin: 72px 0 0;

      @include media-md {
        margin-top: 128px;
      }
    }
  }
}