// Home page

// Transition for inital load
html:not(.is-changing) body.page-home {
  .transition-fade {
    opacity: 0;
    transition-delay: 1s;
  }
  .page-headline {
    animation-delay: 1.5s;
  }
  &.loaded {
    .transition-fade {
      opacity: 1;
    }
  }
}

body.page-home {
  .page-header {
    .banner-top {
      position: relative;
      padding-bottom: 24px;
      &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        background-color: rgba(color('cream'), 0.5);
      }

      .sitewrapper {
        z-index: 1;
        position: relative;
      }

      @include media-md {
        display: flex;
        min-height: 65vh;
        padding-bottom: 146px;
        flex-direction: column;
        justify-content: center;
      }
    }

    .background-video {
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      overflow: hidden;
      position: absolute;
      iframe {
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        position: absolute;
        min-width: 177.77vh;
        transform: translate(-50%, -50%);
      }
    }

    .page-headline {
      opacity: 0;
      animation: fadeInUp 2.5s 0.5s forwards;
    }

    .bottom-banner {
      @include line(after, 80px);
      background-color: color('hemlock');

      .banner-text {
        padding: 64px 0 36px;
        color: color('cream');
        p::before {
          background-color: color('white');
        }
      }

      .-background {
        height: 152px;
        background-size: cover;
        background-position: center center;
        background-image: url('../images/homepage-banner-bottom.jpg');
      }

      @include media-md {
        position: relative;

        .banner-text {
          padding: 104px 18px 131px 0;
        }

        .-background {
          top: 0;
          right: 0;
          bottom: 0;
          left: 50%;
          width: auto;
          height: 100%;
          position: absolute;
        }
      }

      @include media-lg {
        .banner-text {
          padding: 92px 72px 87px 0;
        }
      }
    }
  }

  .portfolio-section {
    .card-grid {
      padding-bottom: 128px;

      @include media-md {
        padding-bottom: 80px;
        &::after {
          top: -$padding-sm;
        }

        // Bottom Grid
        .-bottom {
          .portfolio-intro {
            order: 0;
          }
          .properties {
            order: 1;
          }
        }
      }
    }

    .stat-item {
      @include media-md {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .portfolio-stat {
      color: color('teak');

      dl {
        margin: 0 0 $padding-sm;
      }

      .figure {
        @include h1;
        margin: 0;
      }

      dt {
        @include p2;
        margin-top: 80px;
        position: relative;
        &::before {
          left: 0;
          top: -24px;
          width: 72px;
          height: 1px;
          content: '';
          position: absolute;
          background-color: color('teak');
        }
      }
    }

    .portfolio-intro {
      @include media-md {
        padding-top: 90px;
        padding-right: 72px;
      }
    }
  }
}