// Home page

// Transition for inital load
html:not(.is-changing) body.page-home {
  .transition-fade {
    opacity: 0;
    transition-delay: 1s;
  }
  .page-headline {
    animation-delay: 1.5s;
  }
  &.loaded {
    .transition-fade {
      opacity: 1;
    }
  }
}

body.page-home {
  .page-header {
    padding-top: 0;
    .banner-top {
      padding-top: 128px;
      position: relative;
      padding-bottom: 48px;
      &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        background-color: rgba(color('cream'), 0.5);
      }

      .sitewrapper {
        z-index: 1;
        position: relative;
      }

      @include media-md {
        display: flex;
        padding-top: 172px;
        flex-direction: column;
        justify-content: center;
        padding-bottom: $vertical-spacing-md;
      }
    }

    .bottom-banner {
      height: auto;
      padding-bottom: 0;
    }

    .background-video {
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      overflow: hidden;
      position: absolute;
      iframe {
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        position: absolute;
        min-width: 177.77vh;
        transform: translate(-50%, -50%);
      }
    }

    .page-headline {
      opacity: 0;
      animation: fadeInUp 2.5s 0.5s forwards;
    }

    .bottom-banner {
      @include line(after, 80px);
      background-color: color('hemlock');

      .banner-text {
        color: color('cream');
        padding: $vertical-spacing-md 0 36px;

        p {
          @include p1;
          margin: 0;

          &::before {
            display: none;
          }
        }
      }

      .-background {
        height: 152px;
        background-size: cover;
        background-position: center center;
        background-image: url('../images/homepage-banner-bottom.jpg');
      }

      @include media-md {
        position: relative;

        .banner-text {
          padding: 60px 18px 96px 0;
        }

        .-background {
          top: 0;
          right: 0;
          bottom: 0;
          left: 50%;
          width: auto;
          height: 100%;
          position: absolute;
        }
      }
    }
  }

  .portfolio-section {
    .card-grid {
      @include media-md {
        padding-bottom: 80px;
        &::after {
          top: -$padding-sm;
        }

        // Bottom Grid
        .-bottom {
          .portfolio-intro {
            order: 0;
          }
          .properties {
            order: 1;
          }
        }
      }
    }

    .headline-item {
      @include media-md {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .portfolio-text {
      color: color('teak');
      padding-bottom: $vertical-spacing-md;

      h4 {
        @include h3;
        margin: 0 0 $padding-md;
      }

      p {
        margin: 0;
        + p {
          margin-top: $padding-sm;
        }
      }

      @include media-md {
        padding-right: 72px;

        h4 {
          margin-bottom: 90px;
        }

        p + p {
          margin-top: $vertical-spacing-md;
        }
      }
    }
  }

  .bottom-intro {
    padding-bottom: $vertical-spacing-md - 16px;

    @include media-md {
      padding-bottom: 104px;
    }
  }
}