// Portfolio Page

body.page-portfolio {
  .page-header {
    padding-bottom: 120px;
    background-image: url('../images/texture-tan.jpg');
    background-size: 195px 195px;
    background-color: color('tan');
    @include media-sm {
      padding-bottom: 48px;
    }
    @include media-lg {
      padding-bottom: 37px;
    }
    @include media-xxl {
      min-height: 600px;
    }

    .banner-top {
      padding-top: 36px;
    }

    .banner-text {
      @include eyebrowLine;

      p {
        margin: 0;
      }

      @include media-sm {
        max-width: columns(7,16);
        flex-basis: columns(7,16);
      }
    }
  }

  .card-grid {
    @include media-sm {
      &::after {
        bottom: -56px;
        top: $padding-sm;
      }
    }

    .property-grid {
      .property {
        &.portrait-large {
          margin-top: -$vertical-spacing-md;
        }
      }

      @include media-sm {
        display: grid;
        direction: rtl;
        align-items: stretch;
        grid-column-gap: 36px;
        margin-bottom: $vertical-spacing-md;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        > * {
          direction: ltr;
        }

        .property {
          align-self: end;
          margin-bottom: 0;
          position: relative;
          margin-top: $vertical-spacing-md;

          &.portrait-large {
            margin-top: -500px;
            grid-column: span 2;
          }
          &.landscape {
            grid-column: span 2;
          }

          .property-title {
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 8px 0;
            position: absolute;
            background-color: color('cream');
          }
        }

        .portfolio-statement {
          grid-column: 5 / 3;
          padding-top: $vertical-spacing-md;

          p {
            margin: 0;
          }

          .cta {
            margin: $vertical-spacing-md 0 0;
          }
        }
      }
    }
  }
}
