// Portfolio Page

body.portfolio-page {
  .page-header {
    padding-bottom: 120px;
    background-image: url('../images/texture-tan.jpg');
    background-size: 195px 195px;
    background-color: color('tan');
    @include media-sm {
      padding-bottom: 48px;
    }
    @include media-lg {
      padding-bottom: 120px;
    }

    .banner-top {
      padding-bottom: 88px;

      @include media-lg {
        padding-bottom: 107px;
      }
    }

    .banner-text {
      @include eyebrowLine;

      p {
        margin: 0;
      }

      @include media-sm {
        max-width: columns(7,16);
        flex-basis: columns(7,16);
      }
    }
  }

  .card-grid {
    @include media-sm {
      &::after {
        bottom: -56px;
        top: $padding-sm;
      }
    }

    .property-grid {
      .property {
        &.portrait {
          margin-top: -72px;
        }
      }

      @include media-sm {
        display: grid;
        direction: rtl;
        grid-row-gap: 64px;
        margin-bottom: 72px;
        align-items: stretch;
        grid-column-gap: 36px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        > * {
          direction: ltr;
        }

        .property {
          margin-bottom: 0;
          position: relative;

          &:nth-child(-n+2) {
            align-self: end;
            margin-top: 72px;
          }

          &.portrait {
            margin-top: -178px;
            grid-column: span 2;
          }
          &.landscape {
            grid-column: span 2;
          }

          .property-title {
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 8px 0;
            position: absolute;
            background-color: color('cream');
          }
        }

        .portfolio-statement {
          grid-column: 5 / 3;

          .cta {
            margin: 80px 0 0;
          }
        }
      }

      @include media-lg {
        .property {
          &.portrait {
            margin-top: -248px;
          }
        }
      }
    }
  }
}
