// Secondary Page Styles

body.secondary-page {
  @include colorTheme('cream', 'lichen', 'hemlock', '../images/texture-green.jpg');

  .page-header {
    @include line(after);

    .page-headline {
      color: color('cream');
    }

    @include media-md {
      &::after {
        display: none;
      }
    }

    @include media-lg {
      padding-top: 164px;
      &::after {
        display: block;
      }
    }
  }

  .page-body {
    @include line(before, 100%);
    padding-top: 72px;

    > * :first-child {
      margin-top: 0;
    }

    @include media-md {
      padding-bottom: $padding-lg;

      &::before {
        display: none;
      }
    }

    @include media-lg {
      &::before {
        display: block;
      }
    }
  }
}