// Team Member Page

body.single-team-member {
  @include darkTheme;

  .page-header {
    .banner-top {
      color: color('cream');
      padding-bottom: 94px;

      @include media-md {
        padding-bottom: 124px;
      }

      .position {
        @include eyebrowLine(cream);
        @include h4;
        margin: $padding-md 0 0;

        @include media-md {
          margin-top: 52px;
        }
      }
    }
  }

  .bio-section {
    @include line(before, 100%);
    padding-bottom: $vertical-spacing-md;

    @include media-md {
      padding-top: $vertical-spacing-md;
    }

    h3 {
      @include h3;
      @include headline;

      @include media-md {
        max-width: 50%;
        padding-right: $padding-lg / 2;
      }
    }

    .bio {
      @include eyebrowLine;
      @include p2;

      p {
        margin: 0;

        + p {
          margin-top: 10px;
        }
      }
    }

    .bio-image {
      @include imageTreatment;
      margin-top: -$vertical-spacing-md;

      img {
        display: block;
      }

      @include media-md {
        margin-top: -400px;
      }

      @include media-lg {
        margin-left: -54px;
        width: calc(100% + 54px);
      }
    }

    .bio-contact {
      padding-top: 10px;
      margin-bottom: 40px;
      margin-top: $padding-md;
      border-top: 1px solid color('tan');

      @include media-md {
        margin-bottom: 0;
      }

       > div {
        + div {
          margin-top: 30px;
        }
      }

      p {
        margin: 0;
        @include p2;

        &.label {
          @include h4;
          color: color('teak');
        }
      }

      a:not(.button) {
        &:hover,
        &:focus {
          color: color('rose');
        }
      }

      ul {
        margin: 0;

        li {
          @include p2;
        }
      }

      .vcard {
        margin-top: 40px;

        a {
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}