{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = 'Error 503' %}
{% set bodyClass = 'error-page page-503' %}

{% block content %}
  <div class="page-header">
    <div class="image-banner"><div class="background" style="background-image:url('{{ rev('/images/404-banner.jpg') }}');"></div></div>

    <div class="banner-headline sitewrapper">
      <div class="grid spaced spaced-xl">
        <h2 class="page-headline col-md-1-2">{{ title }}</h2>
        <p class="page-subheadline col-md-1-2">We're performing some maintenance.<br> Try back later.<br> In the meantime, enjoy the view.</p>
      </div>
    </div>
  </div>

  <div class="intro-section sitewrapper">
    <div class="tagline">
      <p><span class="-reveal">Passion</span><br> <span class="-reveal">Meets Purpose</span></p>
    </div>
  </div>
{% endblock %}
