<!doctype html>
<html lang="en">
  <head>
    {% include "/partials/_head" %}
  </head>

  <body class="{% if bodyClass is defined %}{{ bodyClass }}{% else %}{{ craft.app.request.getSegment(1)}}-page{% endif %}" id="{% if bodyId is defined %}{{ bodyId }}{% else %}{{ craft.app.request.getSegment(1)}}-page{% endif %}">
    <div id="breakpoint-indicator"></div>

    <header class="site-header" role="banner">
      <div class="sitewrapper">
        <div class="site-headline">
          <h1 class="site-title"><a href="{{ siteUrl }}"><span class="visuallyhidden">{{ siteName }}</span><svg class="logo madison-rose" aria-hidden="true" role="presentation"><use xlink:href="#madison-rose"/></svg></a></h1>
        </div>
        <button id="nav-toggle" class="nav-toggle"><span class="visuallyhidden">open menu</span><svg aria-hidden="true" role="presentation"><use xlink:href="#nav-open"/></svg></button>
        {% include '/partials/_nav' %}
      </div>
    </header>

    <main class="main" role="main">
      {% block content %}{% endblock %}
    </main> <!-- END .main -->

    {% include "/partials/_footer" %}

    <script src="{{ rev('/scripts/manifest.js') }}"></script>
    <script src="{{ rev('/scripts/vendor.js') }}"></script>
    <script src="{{ rev('/scripts/main.js') }}"></script>
  </body>
</html>