{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bannerImage = entry.bannerImage.one() %}

{% set bodyClass = 'home' %}
{% set bodyId = 'home' %}

{% block content %}

  <div class="page-header">
    <div class="banner-top"{% if bannerImage %} style="background-image:url('{{ bannerImage.getUrl() }}');"{% endif %}>
      {% if entry.bannerBackgroundVideo | length %}
        <div class="background-video">
          <iframe src="https://player.vimeo.com/video/{{ entry.bannerBackgroundVideo }}?background=1&autoplay=1&loop=1&byline=0&title=0"
                     frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      {% endif %}

      <div class="sitewrapper">
        {% if entry.pageHeadline %}
          <h2 class="page-headline">{{ entry.pageHeadline }}</h2>
        {% endif %}
      </div>
    </div>

    {% if entry.pageSubHeadline %}
      <div class="bottom-banner">
        <div class="sitewrapper grid">
          <div class="banner-text col-md-1-2">
            <p>{{ entry.pageSubHeadline }}</p>
          </div>
        </div>
        <div class="-background"></div>
      </div>
    {% endif %}
  </div>

  <div class="intro-section sitewrapper">
    {% if entry.homeIntroParagraph %}
      <p>{{ entry.homeIntroParagraph }}</p>
    {% endif %}
    <p class="cta"><a href="{{ url('/about') }}" class="button -hollow">See What We're About <svg class="icon icon-arrow-small" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
  </div>

  <div class="portfolio-section sitewrapper">
    <h3 class="section-title">An Unparalleled Portfolio</h3>
    {% set featuredProperties = entry.homeFeaturedProperties.all() %}
    <div class="card-grid">
      <div class="-top grid spaced">
        {% if featuredProperties[0] %}
          <div class="col-md-1-2">
            {% include 'partials/_property-listing.html' with {'property': featuredProperties[0], 'orientation': 'propertyListingPortrait'} %}
          </div>
        {% endif %}
        <div class="stat-item col-md-1-2">
          {% if entry.homePortfolioStat|length %}
            <div class="portfolio-stat">
              <dl class="stat">
                <dd class="figure">{{ entry.homePortfolioStat[0].statFigure }}</dd>
                <dt>{{ entry.homePortfolioStat[0].statDescription }}</dt>
              </dl>
            </div>
          {% endif %}
          {% if featuredProperties[1] is defined %}
            {% include 'partials/_property-listing.html' with {'property': featuredProperties[1], 'orientation': 'propertyListingLandscape'} %}
          {% endif %}
        </div>
      </div>
      <div class="-bottom grid">
        {% if featuredProperties[2] is defined %}
          <div class="col-md-1-2">
            <div class="property">
              <h3 class="property-title">{{ featuredProperties[2].title }}</h3>
            </div>
            {% if featuredProperties[3] is defined %}
              <div class="property">
                <h3 class="property-title">{{ featuredProperties[3].title }}</h3>
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="portfolio-intro col-md-1-2">
          {% if entry.homePortfolioParagraph %}
            <p>{{ entry.homePortfolioParagraph }}</p>
          {% endif %}
          <p class="cta"><a href="{{ url('/portfolio') }}" class="button -hollow">View All Properties <svg class="icon icon-arrow-small" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-break">
    <div class="image-break">
      <div class="texture" style="background-image:url('{{ url('/assets/dist/images/map-1_square.jpg') }}');"></div>
      <div class="image-background" style="background-image:url('{{ url('/assets/dist/images/homepage-page-break.jpg') }}');"></div>
    </div>
  </div>

  <div class="intro-section sitewrapper">
    <div class="tagline">
      <p class="label">Fresh Perspective</p>
      <p>Every<br> Building<br> Has a Story.</p>
    </div>
  </div>

  {% include "partials/_podcast.html" %}

{% endblock %}