{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bannerImage = entry.bannerImage.one() %}

{% set bodyClass = 'page-home' %}

{% block content %}

  <div class="page-header">
    {% if entry.bannerBackgroundVideo|length %}
      {% set backgroundVideo = craft.embeddedAssets.get(entry.bannerBackgroundVideo.orderBy('RAND()').one()) %}
    {% endif %}
    {% if backgroundVideo is defined and backgroundVideo.url matches '/vimeo\.com/' %}
      {% if 'https://i.vimeocdn.com/filter/overlay?src0=' in backgroundVideo.image %}
        {% set videoImageUrl = backgroundVideo.image|replace({'https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F': 'https://i.vimeocdn.com/video/', '&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png': '' }) %}
      {% else %}
        {% set videoImageUrl = backgroundVideo.image %}
      {% endif %}
      {% set transformedImage = craft.imager.transformImage(videoImageUrl,
        {
          width: 2304,
          jpegQuality: 80,
        }
      ) %}
      <div class="banner-top" style="background-image:url('{{ transformedImage.getUrl() }}');">
        <div class="background-video">
          <iframe src="https://player.vimeo.com/video/{{ backgroundVideo.getVideoId() }}?background=1&autoplay=1&loop=1&byline=0&title=0"
                     frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="sitewrapper">
          {% if entry.pageHeadline %}
            <h2 class="page-headline">{{ entry.pageHeadline|nl2br }}</h2>
          {% endif %}
        </div>
      </div>
    {% else %}
      {% set transformedImage = craft.imager.transformImage(entry.bannerImage.one(),
        {
          width: 2304,
          jpegQuality: 80,
        }
      ) %}
      <div class="banner-top" style="background-image:url('{{ transformedImage.getUrl() }}');">
        <div class="sitewrapper">
          {% if entry.pageHeadline %}
            <h2 class="page-headline">{{ entry.pageHeadline|nl2br }}</h2>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if entry.pageSubHeadline %}
      <div class="bottom-banner">
        <div class="sitewrapper grid">
          <div class="banner-text col-md-1-2">
            <p>{{ entry.pageSubHeadline }}</p>
          </div>
        </div>
        <div class="-background"></div>
      </div>
    {% endif %}
  </div>

  <div class="intro-section sitewrapper">
    {% if entry.homeIntroParagraph %}
      <p class="-reveal">{{ entry.homeIntroParagraph }}</p>
    {% endif %}
    <p class="cta -reveal"><a href="{{ url('/approach') }}" class="button -hollow">See What We're About <svg class="icon icon-arrow-small" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
  </div>

  <div class="portfolio-section sitewrapper">
    <h3 class="section-title">Current Portfolio</h3>
    {% set featuredProperties = entry.homeFeaturedProperties.all() %}
    <div class="card-grid">
      <div class="grid spaced">
        <div class="col-md-1-2">
          {% if featuredProperties[0] %}
            {% include 'partials/_property-listing.html' with {'property': featuredProperties[0], 'orientation': 'propertyListingPortrait', 'class': '-reveal'} %}
          {% endif %}

          <div class="portfolio-text">
            {% if entry.homePortfolioHeadline|length %}
              <div class="portfolio-headline -reveal">
                <h4>{{ entry.homePortfolioHeadline }}</h4>
              </div>
            {% endif %}

            {% if entry.homePortfolioParagraph %}
              <p class="-reveal">{{ entry.homePortfolioParagraph }}</p>
            {% endif %}
            <p class="cta -reveal"><a href="{{ url('/portfolio') }}" class="button -hollow">View All Properties <svg class="icon icon-arrow-small" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
          </div>
        </div>

        <div class="col-md-1-2">
          {% if featuredProperties|length > 1 %}
            {% for featuredProperty in entry.homeFeaturedProperties.offset(1).all() %}
              {% include 'partials/_property-listing.html' with {'property': featuredProperty, 'orientation': 'propertyListingLandscape', 'class': '-reveal'} %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="page-break">
    <div class="image-break">
      <div class="texture" style="background-image:url('{{ rev('/images/map-1_square.jpg') }}');"></div>
      <div class="image-background" style="background-image:url('{{ rev('/images/homepage-page-break.jpg') }}');"></div>
    </div>
  </div>

  <div class="bottom-intro intro-section sitewrapper">
    <div class="tagline">
      <p class="label -reveal">Fresh Perspective</p>
      <p class="-reveal">Every<br> Building<br> Has a Story.</p>
    </div>
  </div>

  {% include "partials/_podcast.html" %}

{% endblock %}