{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bannerImage = entry.bannerImage.one() %}

{% set bodyClass = 'home' %}
{% set bodyId = 'home' %}

{% block content %}

  <div class="page-header">
    {% if entry.bannerBackgroundVideo|length %}
      {% set backgroundVideo = craft.embeddedAssets.get(entry.bannerBackgroundVideo.one()) %}
    {% endif %}
    {% if backgroundVideo is defined and backgroundVideo.url matches '/vimeo\.com/' %}
      {% if 'https://i.vimeocdn.com/filter/overlay?src0=' in backgroundVideo.image %}
        {% set videoImageUrl = backgroundVideo.image|replace({'https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F': 'https://i.vimeocdn.com/video/', '&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png': '' }) %}
      {% else %}
        {% set videoImageUrl = backgroundVideo.image %}
      {% endif %}
      {% set transformedImage = craft.imager.transformImage(videoImageUrl,
        {
          width: 2304,
          jpegQuality: 80,
        }
      ) %}
      <div class="banner-top" style="background-image:url('{{ transformedImage.getUrl() }}');">
        <div class="background-video">
          <iframe src="https://player.vimeo.com/video/{{ backgroundVideo.getVideoId() }}?background=1&autoplay=1&loop=1&byline=0&title=0"
                     frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="sitewrapper">
          {% if entry.pageHeadline %}
            <h2 class="page-headline">{{ entry.pageHeadline|nl2br }}</h2>
          {% endif %}
        </div>
      </div>
    {% else %}
      {% set transformedImage = craft.imager.transformImage(entry.bannerImage.one(),
        {
          width: 2304,
          jpegQuality: 80,
        }
      ) %}
      <div class="banner-top" style="background-image:url('{{ transformedImage.getUrl() }}');">
        <div class="sitewrapper">
          {% if entry.pageHeadline %}
            <h2 class="page-headline">{{ entry.pageHeadline|nl2br }}</h2>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if entry.pageSubHeadline %}
      <div class="bottom-banner">
        <div class="sitewrapper grid">
          <div class="banner-text col-md-1-2">
            <p>{{ entry.pageSubHeadline }}</p>
          </div>
        </div>
        <div class="-background"></div>
      </div>
    {% endif %}
  </div>

  <div class="intro-section sitewrapper">
    {% if entry.homeIntroParagraph %}
      <p>{{ entry.homeIntroParagraph }}</p>
    {% endif %}
    <p class="cta"><a href="{{ url('/about') }}" class="button -hollow">See What We're About <svg class="icon icon-arrow-small" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
  </div>

  <div class="portfolio-section sitewrapper">
    <h3 class="section-title">An Unparalleled Portfolio</h3>
    {% set featuredProperties = entry.homeFeaturedProperties.all() %}
    <div class="card-grid">
      <div class="-top grid spaced">
        {% if featuredProperties[0] %}
          <div class="col-md-1-2">
            {% include 'partials/_property-listing.html' with {'property': featuredProperties[0], 'orientation': 'propertyListingPortrait'} %}
          </div>
        {% endif %}
        <div class="stat-item col-md-1-2">
          {% if entry.homePortfolioStat|length %}
            <div class="portfolio-stat">
              <dl class="stat">
                <dd class="figure">{{ entry.homePortfolioStat[0].statFigure }}</dd>
                <dt>{{ entry.homePortfolioStat[0].statDescription }}</dt>
              </dl>
            </div>
          {% endif %}
          {% if featuredProperties[1] is defined %}
            {% include 'partials/_property-listing.html' with {'property': featuredProperties[1], 'orientation': 'propertyListingLandscape'} %}
          {% endif %}
        </div>
      </div>
      <div class="-bottom grid spaced">
        {% if featuredProperties[2] is defined %}
          <div class="properties col-md-1-2">
            {% include 'partials/_property-listing.html' with {'property': featuredProperties[2], 'orientation': 'propertyListingLandscape'} %}
            {% if featuredProperties[3] is defined %}
              {% include 'partials/_property-listing.html' with {'property': featuredProperties[3], 'orientation': 'propertyListingLandscape'} %}
            {% endif %}
          </div>
        {% endif %}
        <div class="portfolio-intro col-md-1-2">
          {% if entry.homePortfolioParagraph %}
            <p>{{ entry.homePortfolioParagraph }}</p>
          {% endif %}
          <p class="cta"><a href="{{ url('/portfolio') }}" class="button -hollow">View All Properties <svg class="icon icon-arrow-small" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow-small"/></svg></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-break">
    <div class="image-break">
      <div class="texture" style="background-image:url('{{ rev('/images/map-1_square.jpg') }}');"></div>
      <div class="image-background" style="background-image:url('{{ rev('/images/homepage-page-break.jpg') }}');"></div>
    </div>
  </div>

  <div class="intro-section sitewrapper">
    <div class="tagline">
      <p class="label">Fresh Perspective</p>
      <p>Every<br> Building<br> Has a Story.</p>
    </div>
  </div>

  {% include "partials/_podcast.html" %}

{% endblock %}